* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body { 
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: rgba(238, 238, 238, 0.8);
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #101010;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: fixed;
}

/* ---- others ---- */

#root {
  height: 100%;
  width: 100%;
}

#title {
  margin-top: 150px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#name-and-info {
  background: rgba(0,0,0,0.2);
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  padding: 30px 50px;
  width: 40%;
}

#name-and-info > p {
  text-align: right;
}

#skills {
  padding: 30px 50px;
  width: 60%;
}

#name {
  color: #cccccc;
  margin: 0px;
  padding: 0px;
}

#portfolio {
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 100%;
  height: 100%;
  width: 80%;
  padding: 5% 10%;
}

.project {
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  align: center;
  position: relative;
  width: 100%;
  height: 338px;
  display: flex;
  flex-direction: row;
}

.project .project-show {
  position: relative;
  float: left;
}

.project .project-show img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 338px;
  width: 540px;
}

.project .project-info {
  position: relative;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
}

.project .project-info .project-title h2 {
  color: rgba(238, 238, 238, 0.8);
}

.project .project-info .project-links {
  display: flex;
  flex-direction: row;
}

.project .project-info .project-links .project-link-code {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #404040;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project .project-info .project-links .project-link-code > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project .project-info .project-links .project-link-demo {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #79492c;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project .project-info .project-links .project-link-demo > p {
  color: #bbbbbb;
  font-size: 16px;
}

a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}

#nav {
  position: fixed;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  display: flex;
  flex-direction: column;
}
