* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a:active, a:hover, a:visited, a:link, a:active > p , a:hover > p , a:visited > p , a:link > p {
  text-decoration: none;
}

html, body { 
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: rgba(238, 238, 238, 0.8);
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #101010;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: fixed;
}

/* ---- others ---- */

div {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

#pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#pages > div {
  position: relative;
  min-height: 100%;
  flex-shrink: 0;
}

#title {
  padding-top: 150px;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

#name-and-info {
  background: rgba(0,0,0,0.2);
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  padding: 30px 50px;
  width: 40%;
  height: max-content; /* or min-content */
}

#name-and-info > p {
  text-align: right;
}

#skills {
  padding: 30px 50px;
  width: 60%;
  height: max-content; /* or min-content */
}

#name {
  color: #cccccc;
  margin: 0px;
  padding: 0px;
}

#portfolio {
  background: rgba(0,0,0,0.2);
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
}

#edu {
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
}

#hobby {
  background: rgba(0,0,0,0.2);
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
}

#hobby-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hobby-column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
  box-sizing: border-box;
}

.hobby-div { 
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
}

.hobby-pic { 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}

.hobby-info {
  padding: 5px;
}

#contact {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.page-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
}

.page-title > h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}


.education {
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  align: center;
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.logo-div {
  width: 40%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#univ-logos {
  display: flex;
  flex-direction: row;
  align: center;
}

.univ-logo-div {
  text-align: center;
  white-space: nowrap;
}

.univ-logo {
  vertical-align: middle;
}

#univ-logos {
  display: flex;
  flex-direction: row;
  align: center;
}

.hs-logo-div {
  text-align: center;
  white-space: nowrap;
}

.hs-logo {
  vertical-align: middle;
}

.edu-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.edu-info-header {
  display: flex;
  flex-direction: row;
}

#contact-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#my-info {
  background: rgba(0,0,0,0.2);
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  padding: 30px 50px;
  height: max-content; /* or min-content */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#response-field {
  border-style: groove;
  border-radius: 25px;
  padding: 30px 50px;
  margin: 75px 25px 30px 25px;
  opacity: 0;
  display: none;
  transition: 2s;
}

#social-media-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#social-media-div > img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact-me {
  padding: 30px 50px;
  width: 60%;
  height: max-content; /* or min-content */
}

#glider {
  bottom: 15px;
  right: 15px;
  /* height: 45px; */
  width: 45px;
  padding-top: 100%;
  position: fixed;
}

#glider-img {
  height: 100%;
  width: 100%;
  opacity: 30%;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: rgba(230, 230, 230, 0.8);
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  box-shadow: none;
  outline: none;
  transition: border-color 0.5s;
  -webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

textarea {
  border: 2px solid white;
  background: rgba(100, 100, 100, 0.2);
  color: rgba(230, 230, 230, 0.8);
  width: 100%;
  height: 250px;
  margin-top: 10px;
  box-shadow: none;
  outline: none;
  transition: border-color 0.5s;
  -webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

textarea:focus {
  border-color: #408040;
}

input:focus {
  border-color: #408040;
}

#message-info-send {
  background: transparent;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid #408040;
  transition: background 0.5s;
}

#message-info-send:hover {
  background: #408040;
}

.blur-box {
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
}

#scroll-div {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#scroll-div > img {
  height: 50px;
}

#nav {
  position: fixed;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  display: flex;
  flex-direction: row-reverse;
}

#nav-points {
  display: flex;
  flex-direction: column;
}

#nav-points > div {
  height: 50px;
}

#nav-labels > div {
  height: 50px;
  /* width: 80px; */
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: center;
}

#nav-labels > div > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project {
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.project .project-show {
  position: relative;
  float: left;
  width: 30%;
}

.project .project-show img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 100%;
}

.project .project-right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 70%;
  box-sizing: border-box;
}

.project .project-right-side .project-info {
  position: relative;
}

.project .project-right-side .project-info .project-title h2 {
  color: rgba(238, 238, 238, 0.8);
}

.project .project-right-side .project-links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0px;
  float: right;
}

.project .project-right-side .project-links .project-link-code {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #707070;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project .project-right-side .project-links .project-link-code > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project .project-right-side .project-links .project-link-demo {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #79492c;
  align-items: center;
  display: flex;
  justify-content: center;
  /* margin: 15px 25px 35px 0px; */
}

.project .project-right-side .project-links .project-link-demo > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project .project-right-side .project-links .non-working-link {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #404040;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project .project-right-side .project-links .non-working-link > p {
  color: #bbbbbb;
  font-size: 16px;
}

#hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
}

#hamburger > img {
  opacity: 0.6;
  height: 20px;
}

@media (min-width: 421px) {
  .logo-div > div > img {
    width: auto;
    height: 150px;
  }
}

#dark-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

/* (width <= 800 & landscape) || portrait */
@media
    (max-width: 800) and (orientation: landscape),
    (orientation: portrait) {
  .project {
    border-style: groove;
    border-color: rgba(238, 238, 238, 0.2);
    border-radius: 25px;
    align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .project .project-show {
    position: relative;
    /* float: top; */
    width: 100%;
  }

  .project .project-show img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    width: 100%;
    /* height: 100%; */
  }

  .project .project-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
  }

  .project .project-right-side .project-info {
    position: relative;
  }

  .project .project-right-side .project-info .project-title h2 {
    color: rgba(238, 238, 238, 0.8);
  }

  .project .project-right-side .project-links {
    /* margin-left: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* right: 0px; */
    /* float: right; */
  }

  .project .project-right-side .project-links .project-link-code {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #707070;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .project .project-right-side .project-links .project-link-code > p {
    color: #bbbbbb;
    font-size: 16px;
  }

  .project .project-right-side .project-links .project-link-demo {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #79492c;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: 15px 25px 35px 0px; */
  }

  .project .project-right-side .project-links .project-link-demo > p {
    color: #bbbbbb;
    font-size: 16px;
  }

  .project .project-right-side .project-links .non-working-link {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #404040;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .project .project-right-side .project-links .non-working-link > p {
    color: #bbbbbb;
    font-size: 16px;
  }
}

/* width >= 1366 | landscape */
@media 
    (min-width: 1366px) and (orientation: landscape),
    (min-width: 1366px) and (orientation: unset)
    {
  .at1366px {
    display: none;
  }
  .at1200px {
    display: none;
  }
}

/* width < 1366 | landscape */
@media 
    (max-width: 1365px) and (orientation: landscape),
    (max-width: 1365px) and (orientation: unset)
    {
  .at1366px {
    display: block;
  }
  .at1200px {
    display: none;
  }
}

/* width < 1200 */
@media 
    (max-width: 1199px)
    {
   #name, #my-email {
     font-size: 20px;
   }
}

/* width < 1200 | landscape */
@media 
    (max-width: 1199px) and (orientation: landscape),
    (max-width: 1199px) and (orientation: unset)
    {
  .at1366px {
    display: block;
  }
  .at1200px {
    display: block;
  }
  .project .project-show {
    width: 30%;
  }
  .project .project-right-side {
    width: 70%;
  }
}

/* width < 1080 */
@media 
    (max-width: 1080px)
    {
   #name, #my-email {
     font-size: 15px;
   }
}

/* width < 1024 | landscape */
@media 
    (max-width: 1023px) and (orientation: landscape),
    (max-width: 1023px) and (orientation: unset)
    {
  #my-info { 
    padding: 20px 30px;
  }

  .hobby-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* width <= 768 | landscape */
@media 
    (max-width: 768px) and (orientation: landscape),
    (max-width: 768px) and (orientation: unset)
    {
  #my-info { 
    padding: 20px 30px;
  }
  .hobby-column {
    flex: 100%;
    max-width: 100%;
  }
  #contact {
    flex-direction: column;
  }
  #contact-left {
    width: 100%;
  }
  #my-email {
    font-size: 20px;
  }
  #contact-me {
    padding: 30px 0px;
    width: 100%;
  }
  #glider {
    bottom: 15px;
    right: 15px;
    width: 5.86%;
    padding-top: 100%;
    /* height: 45px; */
  }
}

/* width >= 1024 | portrait */
@media
    (min-width: 1024px) and (orientation: portrait)
  {
  #title {
    flex-direction: column;
  }
  #skills, #name-and-info {
    width: 80%;
  }
  .hobby-column {
    flex: 50%;
    max-width: 50%;
  }
  #glider {
    bottom: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    padding-top: 0;
    display: none;
  }
}

/* width < 1024 | portrait */
@media 
    (max-width: 1023px) and (orientation: portrait)
  {
  #title {
    flex-direction: column;
  }
  #skills, #name-and-info {
    width: 80%;
  }
  .hobby-column {
    flex: 50%;
    max-width: 50%;
  }
  #glider {
    bottom: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    padding-top: 0;
    display: none;
  }
}

/* width <= 768 | portrait */
@media 
    (max-width: 768px) and (orientation: portrait)
  {
  #title {
    flex-direction: column;
  }
  #skills, #name-and-info {
    width: 80%;
  }
  .hobby-column {
    flex: 100%;
    max-width: 100%;
  }
  #contact {
    flex-direction: column;
  }
  #contact-left {
    width: 100%;
  }
  #my-email {
    font-size: 20px;
  }
  #contact-me {
    padding: 30px 0px;
    width: 100%;
  }
  #skills, #name-and-info {
    width: 100%;
  }
  #title {
    padding-top: 10%;
  }
}

@media (max-width: 900px) {
  #univ-logos {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #univ-logos {
    flex-direction: column;
  }
  #my-email {
    text-align: justify;
    width: 100%;
    font-size: 15px;
  }
  #my-info {
    padding: 30px 20px;
  }

  .education {
    flex-direction: column;
  }
  #univ-logos {
    flex-direction: row;
  }
  .logo-div {
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .edu-info {
    margin-left: 20px;
  }
  #skills {
    padding: 30px 0px;
  }
  #scroll-div {
    display: none;
  }
}

@media (max-width: 420px) {
  .logo-div > div > img {
    width: 110px;
  }
  .univ-logo {
    height: 110px;
  }
  #skills > p {
    font-size: smaller;
  }
  #name-and-info {
    padding: 20px 30px;
  }
  #skills {
    padding: 10px 0px;
  }
  #title {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 350px) {
  #title {
    padding-top: 0px;
  }
}

@media (orientation: landscape),
  (orientation: unset) {
  #hamburger {
    display: none;
  }
}

@media (orientation: portrait) {
  #hamburger {
    display: block;
  }
  #nav {
    display: none;
  }
}
