* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a:active, a:hover, a:visited, a:link, a:active > p , a:hover > p , a:visited > p , a:link > p {
  text-decoration: none;
}

html, body { 
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: rgba(238, 238, 238, 0.8);
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #101010;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: fixed;
}

/* ---- others ---- */

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root > div {
  position: relative;
  min-height: 100%;
}

#title {
  padding-top: 150px;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

#name-and-info {
  background: rgba(0,0,0,0.2);
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  padding: 30px 50px;
  width: 40%;
  height: max-content; /* or min-content */
}

#name-and-info > p {
  text-align: right;
}

#skills {
  padding: 30px 50px;
  width: 60%;
  height: max-content; /* or min-content */
}

#name {
  color: #cccccc;
  margin: 0px;
  padding: 0px;
}

#portfolio {
  background: rgba(0,0,0,0.2);
  /* min-height: 100%; */
  /* height: 100%; */
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
}

#edu {
  width: 100%;
  /* min-height: 100%; */
  padding: 10% 10% 5% 10%;
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.project {
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  align: center;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.project .project-show {
  position: relative;
  float: left;
}

.project .project-show img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 200px;
  width: 320px;
}

.project .project-info {
  position: relative;
  margin: 0px 40px 20px 40px;
}

.project .project-info .project-title h2 {
  color: rgba(238, 238, 238, 0.8);
}

.project .project-links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  right: 50px;
}

.project .project-links .project-link-code {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #707070;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 35px 25px 15px 0px;
}

.project .project-links .project-link-code > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project .project-links .project-link-demo {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #79492c;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 25px 35px 0px;
}

.project .project-links .project-link-demo > p {
  color: #bbbbbb;
  font-size: 16px;
}

.project .project-links .non-working-link {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #404040;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project .project-links .non-working-link > p {
  color: #bbbbbb;
  font-size: 16px;
}

.education {
  border-style: groove;
  border-color: rgba(238, 238, 238, 0.2);
  border-radius: 25px;
  align: center;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.logo-div {
  width: 30%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#univ-logos {
  display: flex;
  flex-direction: row;
  align: center;
}

.univ-logo-div {
  text-align: center;
  white-space: nowrap;
}

.univ-logo {
  vertical-align: middle;
}

#univ-logos {
  display: flex;
  flex-direction: row;
  align: center;
}

.hs-logo-div {
  text-align: center;
  white-space: nowrap;
}

.hs-logo {
  vertical-align: middle;
}

.edu-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edu-info-header {
  display: flex;
  flex-direction: row;
}

.blur-box {
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
}

#scroll-div {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  /* opacity: 0; */
}

#scroll-div > img {
  height: 50px;
}

#nav {
  position: fixed;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  display: flex;
  flex-direction: row-reverse;
}

#nav-points {
  display: flex;
  flex-direction: column;
}

#nav-points > div {
  height: 50px;
}

#nav-labels > div {
  height: 50px;
  width: 80px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: center;
}

#nav-labels > div > p {
  color: #bbbbbb;
  font-size: 16px;
}
